<div ng-controller="AuthenticationController as vm">
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form ng-submit="vm.login()" class="signin form-horizontal" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control"
               ng-model="vm.credentials.username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control"
               ng-model="vm.credentials.password" placeholder="Password">
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Log in</button>
          &nbsp; or&nbsp;
          <a ui-sref="signup">Sign up</a>
        </div>
        <alert type="danger" ng-show="vm.error" class="text-center text-danger">
          <span ng-bind="vm.error"></span>
        </alert>
      </fieldset>
    </form>
  </div>
</div>
